@using OLLLibrarySystem.Domain.Entities
@model OLLLibrarySystem.WebUI.Models.BookListViewModel

@{
    ViewBag.Title = "Lourdes Academy Books";
}

@foreach (var p in Model.Book)
{
    @Html.Partial("BookSummary", p)
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
